<section id="testimonials" class="section">
    <div class="author__container">
        <h2>추천사</h2>
        <div class="testimonials">
            <div class="testimonial">
                <!-- <img 
                    src="imgs/testimonial/people1.png" 
                    alt="Jeffrey Micheal" 
                    class="testimonial_avatar"> -->
                <div class="testimonial__speech-bubble">
                    <p class="comment">
                        "해양학자들은 우리의 바다가 겪고 있는 문제는 무엇이며 그 해결방법은 무엇인지를 찾기 위해 오랜 세월 연구를 해왔다. 
                        하지만 결국 그 해결의 열쇠는 연구자가 아닌 일반시민들에게 있다고 할 수 있다. 해양학자들의 역할은 일반시민들의 길잡이라 생각한다. 
                        그런 점에서 ‘모두를 위한 해양리터러시’는 한 평생 해양연구의 길을 걸어온 저자가 일반시민들에게 바다에 숨겨진 웅장하고 복잡한 내면을 쉽게 이해할 수 있도록 안내해 준다. 
                        특히 최근의 해양데이터를 분석하여 우리나라의 해양상태를 해양학자의 시선으로 설명한 것은 교과서의 틀을 벗어난 웹블로그이기에 가능한 시도일 것이다. 
                        디지털 시대에 걸맞게 책이 아니라 웹블로그 형식을 빌어 일반시민 뿐만 아니라 청소년들이 해양소양에 좀더 쉽게 다가갈 수 있도록 했다는 점 또한 신선하게 다가온다. 
                        우리나라처럼 단편적이고 가십만 난무한 웹 환경에서 우리 모두를 위한 소중한 해양 길잡이가 될 것을 기대한다."
                    </p>
                    <p class="name">강동진 / 한국해양학회장 </p>
                </div>
            </div>
            <!-- <div class="testimonial">
                <div class="testimonial__speech-bubble">
                    <p class="comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, distinctio nihil neque sint corporis vitae cum quisquam id! Odit accusamus sed, assumenda at totam consequatur tempora saepe incidunt aut vero.
                    </p>
                    <p class="name"><a href="">Marino</a> / Google</p>
                </div>
                <img 
                    src="imgs/testimonial/people1.png" 
                    alt="Henry Kim" 
                    class="testimonial_avatar">
            </div> -->
        </div>
    </div>
    
</section>

<style>
    /* Universal tags */
    * {
        box-sizing: border-box;
    }
    #testimonials {
        background-color: var(--color-white);
        padding-right: 0;
        padding-left: 0;
        padding: 15px;
    }

    .testimonials {
        margin: 20px 0;
    }
    
    .testimonial {
        display: flex;
        margin: 5px 0px;
    
    }
    
    .testimonial_blank {
        width: 30px;
        height: 150px;
    }
    .testimonial_avatar {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    
    
    .testimonial__speech-bubble {
        padding: 5px 5px;
        background-color: var(--color-white);
        border-radius: var(--size-border-radius);
    
    }
    
    .testimonial__speech-bubble p{
        color: var(--color--grey);
    }
    
    .testimonial__speech-bubble p.comment{
        color: var(--color-light-grey);
        font-style: var(--font-style);
    }
    
    .testimonial__speech-bubble p.name{
        font-family: "Lato", sans-serif;
        color: var(--color-dark-grey);
    }
</style>